/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
header{ 
    display: flex;
    justify-content: left;
    padding-top:1em 3em 1em 3em;
}
.icon{
margin-top: ;
margin-bottom: 

}
button{
    background-color: green;
    color:white;
    padding-top:1em 3em 1em 3em;
    border-style:none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.item{
margin-top: 30px;
margin-bottom: 30px;

}
fieldset{
    text-align: center;
}